.navbar {
  background-color: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 100000;
}

.right-section {
  display: flex;
  align-items: center;
}

.hamburger {
  height: 40px;
  width: 40px;
  margin-right: 0;
  margin-left: 20px;
  cursor: pointer;
}

.youtube-logo{
  height: 120px;
  width: 120px;
  object-fit: contain;
  margin-left: -10px;
  margin-right: 15px;
  margin-top: 3px;
}

.fr {
  color: rgb(174, 174, 174);
  font-family: Roboto, Arial;
  position: fixed;
  font-size: 10px;
  top: 0;
  left: 153px;
  top: 12px;
}

.middle-section {
  display: flex;
  align-items: center;
}

.search-icon {
  opacity: 0.8;
  margin-top: 2px;
}

.search-bar {
  background-color: rgb(14, 14, 14);
  font-family: Roboto, Arial;
  font-size: 16px;
  border: 1px solid rgb(68, 68, 68);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  display: flex;
  flex: 1;
  width: 500px;
  height: 30px;
  padding: 5px 5px 5px 10px;
}

.search-button {
  background-color: rgb(48, 48, 48);
  border: 1px solid rgb(68, 68, 68);
  height: 42px;
  width: 65px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -2px;
  margin-right: 8px;
  cursor: pointer;
}

.search-button, .voice-button, .container-tooltip1,
.container-tooltip2  {
  position: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.805);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  bottom: -55px;
  left: -5px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.voice-button .tooltip {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.805);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  left: -70px;
  bottom: -55px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.container-tooltip1 .tooltip {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.805);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  left: -10px;
  bottom: -61px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.container-tooltip2 .tooltip {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.805);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  left: -10px;
  bottom: -58px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip,
.container-tooltip1:hover .tooltip, .container-tooltip2:hover .tooltip {
  opacity: 1;
}

.search-button:hover {
  background-color: rgb(41, 41, 41);
}

.voice-button {
  background-color: rgb(30, 30, 30);
  border: none;
  padding: 9px 11px 9px 11px;
  border-radius: 1000px;
  cursor: pointer;
  margin-right: 15px;
}

.voice-button:hover {
  background-color: rgb(63, 63, 63);
}

.voice-button img {
  height: 18px;
  width: 18px;
  margin-top: 1px;
}

.left-section {
  display: flex;
  align-items: center;
}

.channel-side-icon {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-right: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.notif {
  margin-left: 15px;
}

.notif-compter {
  color: rgb(255, 255, 255);
  font-family: Roboto, Arial;
  position: absolute;
  font-size: 13px;
  background-color: rgb(183, 0, 0);
  padding: 0px 4px 0px 4px;
  border-radius: 20px;
  top: -3px;
  right: -12px;
  border: 1px solid black;
}

.notification-container {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.upload-icon{
  cursor: pointer;
}


/**Fin du Header**/












/*barre des genres de vidéos*/

@media (max-width: 1299px) {
  .barre-genre {
    left: 80px;
  }

  .defiler-droite {
    opacity: 1;
  }
}

@media (min-width: 1300px) {
  .barre-genre {
    left: 209px;
  }

  .defiler-droite {
    opacity: 0;
    pointer-events: none;
  }
}



.barre-genre {
  background-color: rgb(14, 14, 14);
  position: fixed;
  top: 55px;
  right: 0;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tous {
  margin-left: 15px;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Roboto, Arial;
  padding: 7px 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reste {
  margin-left: 15px;
  white-space: nowrap;
  background-color: rgb(48, 48, 48);
  color: white;
  font-family: Roboto, Arial;
  padding: 7px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.1s;
}

.reste:hover {
  background-color: rgb(69, 69, 69);
}

.defiler-droite {
  height: 32px;
  width: 32px;
  position: absolute;
  background-color: rgb(14, 14, 14);
  border-radius: 50px;
  right: 0;
  padding: 25px;
  border: none;
  cursor: pointer;
}

.defiler-droite:hover {
  background-color: rgb(53, 53, 53);
}


.defiler-droite img {
  height: 25px;
  width: 25px;
  object-position: right;
  object-fit: cover;
  margin-right: 10px;
  position: absolute;
  right: -1px;
  top: 13px;
}